@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&display=swap');

@font-face {
    font-family: 'Respondent';
    src: url('../respondent/RespondentBold_PERSONAL_USE_ONLY.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

:root{
    /*  linear-gradient(to bottom right, #e0efa3, #627f65); */
    /*  linear-gradient(to bottom right, #e0efa3, #627f65); */
    --background-selected: linear-gradient(to bottom right, #f3ff47, #8300b9);
    --background-dark-mode: linear-gradient(to bottom right, #232227, #000)
}

form input, form select{
    font-weight: 300;
    font-style: italic;
}

/* Background Animação do dark-mode */

body{
    background-image: var(--background-dark-mode);
    height: 100vh;
    margin:0;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: var(--background-selected);
    transition: opacity 1s ease-in-out;
    z-index: -1;
    opacity: 1;
}

body.night-mode::before {
    content: "";
    background: var(--background-selected);
    opacity: 0;
}

    /* Mudanças para DarkMode */

        .form-dark-mode{
            background-color: rgb(39 39 39);
        }

        .night-mode input, .night-mode label, .night-mode select, .night-mode button, .night-mode i, .night-mode legend, .form-dark-mode ~ h1, .night-mode .setas{
            color: aliceblue !important;
        }

        .form-dark-mode input, .form-dark-mode select{
            border-bottom: 1px solid #757575 !important;
        }
        .night-mode button{
            background-color: rgb(63 63 63);
        }
        .night-mode button:hover{
            background-color: rgba(0, 0, 0, 0.4);
        }

        .form-dark-mode .option{
            background-color: #0000006b;
        }

        .form-dark-mode .option:hover{
            background-color: #000000b0;
        }

        .form-dark-mode .periodo-trabalho input:checked + .option{
            background-color: #000000;
        }
    
    /* Mudanças para DarkMode */
    

    
    
/* FIM Background Animação do dark-mode */
    
.blur{
    filter: blur(5px);
}

/* Header */

    header{
        height: 21%;
        text-align: center;
        transition: 250ms;
    }

    .night-mode header h1{
        margin-block: 0;
        padding-top: 50px;
        font-weight: normal;
        font-size: 56px;
        color: white;
        transition: 250ms;
    }
    
    .night-mode header h1 span{
        display: inherit;
        font-size: 22px;
        font-family: "Rubik Glitch", system-ui;
        font-weight: normal;
        margin-top: -17px;
        color: #8676f9;
        transition: 250ms;
    }


    header h1 {
        margin-block: 0;
        padding-top: 50px;
        font-weight: normal;
        font-size: 56px;
        color: #000000;
        user-select: none;
    }
    
    header h1 span{
        display: inherit;
        font-size: 37px;
        font-family: 'Respondent', sans-serif;
        font-weight: normal;
        margin-top: -28px;
        color: white;
    }
    
    .vision-mode{
        position: absolute;
        height: 60px;
        width: 80px;
    }

    .vision-mode input{
        display: none;
    }


/* FIM Header */

    .formulario{
        display: flex;
        justify-content: center;
        height: 58%;
    }
    form{
        width: 300px;
        border-radius: 10px;
        padding-inline: 30px;
        background-color: rgb(255 255 255 / 63%);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
        transition: 250ms;
        margin: 0;
        position: relative;
    }

    main button{
        border-style: none;
        width: 100%;
        height: 30px;
        font-size: 16px;
        box-shadow: 1px 3px 20px -10px rgba(0, 0, 0, 0.589);
        font-weight: normal;
        background-color: rgb(255 255 255 / 67%);
        border-radius: 8px;
        margin-top: 20px;
    }

    button:hover{
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
    }

    form label, form button{
        user-select: none;
    }
/* IMG */

    form img{
        display: none;
        position: absolute;
    }

    .imagem-bronca{

        animation: showing 3s, bounce 3s ease forwards;     

    }

    
    .imagem-seta{
        left: -250px;
        top: -25px;
        animation: rotate 3s forwards, showing 3s;    
    }

    @keyframes rotate{
        0%{
            rotate:0deg;
        }
        100%{
            rotate:270deg;
        };
    }

    @keyframes bounce {
        0% {
            transform: translate(0px, -60px);
        }
        40% {
            transform: translate(160px, 0px);
        }
        60% {
            transform: translate(240px, -30px);
        }
        100% {
            transform: translate(400px,0px);
        }
    }


/* Fim IMG */

/* 3 primeiros inputs */

    .campos{
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin-block: 15px;
    }

    .campo{
        display: flex;
    }

    .campo label{
        color: black;
        width: 20%;
    }
    .campo input{
        background:none;
        border: none;
        border-bottom: 1px solid black;
        outline: 0;
        font-size: 16px;
        color: black;
        width: 80%;
    }
    .campo input:focus {
        box-shadow:none;
    }
    .campo select{
        background:none;
        border: none;
        cursor: pointer;
        border-bottom: 1px solid black;
        outline: 0;
        color: black;
        font-size: 16px;
        width: 80%;
        height: 21px;
    }

/* Fim 3 primeiros inputs */



/* Modal de Explicacao */

    .campo-feriado{
        margin-block: 30px;
        position: relative;
    }

    .modalInformacaoAdicional{
        display: none;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        bottom: 50px;
        background-color: rgb(47 47 47 / 98%);
        border-radius: 8px;
        padding-inline: 10px;
        width: 330px;
    }

    .campo-feriado label{
        display: flex;
        justify-content: space-between;
    }

    .modalInformacaoAdicional p{
        color: white;
        font-size: 0.8rem;
    }

    .modalInformacaoAdicional .exemplo{
        color: rgb(216, 216, 216);
        font-size: 0.7rem;
        padding-left: 5px;
    }

    .icone-ajudante{
        color: rgb(34, 34, 34);
    }
    .icone-ajudante:hover{
        cursor: help;
    }

/* FIM Modal de Explicacao */

/* Feriados */

    .campo-feriado input{
        background:none;
        border: none;
        margin-top: 5px;
        border-bottom: 1px solid black;
        outline: 0;
        font-size: 16px;
        color: black;
        width: 100%;
    }

/* FIM feriados */


/* Periodo de Trabalho */

    .horario legend{
        font-weight: 300;
        font-style: italic;
    }
    .horario div label{
        font-weight: normal;
        font-style: normal;
    }
    .horario label ~ div{
        display: flex;
        justify-content: center;
    }

    .horario input{
        display: none;
    }

    .botaoSelecionado{
        background-color: #F8F9FD;
        border-color: hsl(243, 100%, 62%);
    }

    .option{
        display: flex;
        justify-content: center;
        gap: 5px;
        width: 40%;
        padding: 5px;
        border-block:solid 1px;
        background-color: #ffffff2e;
        border-color: #473dff3d;
        transition: 300ms;
        cursor: pointer;
    }

    .option-left{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-left: 0px;
    }
    .option-right{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-right: 0px;
    }

    .option p{
        font-weight: 300;
        margin: 0;
    }

    .option:hover{
        background-color: #ffffffb0;
    }

    .periodo-trabalho input:checked + .option{
        background-color: #fff;
    }
    
    .periodo-trabalho input:checked + .option p{
        font-weight: normal;
    }
    
    .horario {
        margin: 0;
    }

/* FIM Periodo de Trabalho */

/* Cor do texto do autocomplete */

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus{
    -webkit-text-fill-color: #000000 !important;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;

    }
    .night-mode input:-webkit-autofill,
    .night-mode input:-webkit-autofill:hover, 
    .night-mode input:-webkit-autofill:focus{
    -webkit-text-fill-color: #ffffff !important;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
    }

/* FIM Cor do texto do autocomplete */



/* Aside */

    aside{
        position: fixed;
        right: 0;
        top: 40%;

        height: 150px;
        align-content: center;

        background: #353535;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .changeThemas{
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .changeThemas button{
       margin: 0; 
       margin-inline: 5px; 
    }



/* FIM Aside */



/* Botao Dark/White Mode */

    .visionButton{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: 15px;
        background-color: rgb(36, 36, 36);
        border-radius: 15px;
        width: 50px;
        height: 30px;
        transition: 250ms;
    }

    .visionButton:hover{
        cursor: pointer;
    }


    .bola-off{
        width: 20px;
        height: 20px;
        padding-top: 2px;
        font-size: 1.1rem;
        color: #ffffff;
        border-radius: 15px;
        position: relative;
        left: -10px;
        transform: rotate(-90deg);
        transition: left 250ms ease-in-out, color 250ms ease-in-out, transform 250ms ease-in-out;
    }

    .vision-mode input:checked + label .bola-off{
        left: 10px;
        color: rgb(204 172 238);
        transform: rotate(0deg);
    }

    #visionButton:checked + .visionButton{
        -webkit-box-shadow: 0px 0px 105px 22px rgba(204, 172, 238,0.75);
        -moz-box-shadow: 0px 0px 105px 22px rgba(204, 172, 238,0.75);
        box-shadow: 0px 0px 105px 34px rgb(166 82 255 / 77%)
    }

/* FIM Botao Dark/White Mode */



/* Footer */

    footer{
        display: flex;
        align-items: flex-end;
        height: 21%;
        position:relative;
    }
    .creditos {
        visibility: hidden;
    }

    .creditos .link{
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;
        width:100%;
        height:100%;
        border:none;
        left:0;
        top:0;
    }
    .mostrar-link{
        animation: showing 250ms ;
    }
    .esconder-link{
        animation: hiden 250ms ;
    }

    @keyframes showing{
        0%{
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes hiden{
        0%{
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    footer .circulo-livro > i{
        margin: 15px;
        cursor: pointer;
    }
    
    footer .circulo-livro{
        background-color: transparent;
        border-top-right-radius: 50%;
        z-index: 3;
        transition: 250ms;
    }
    
    .mostrar-circulo{
        background-color: aliceblue !important;
    }
    .night-mode .mostrar-circulo{
        background-color: rgb(0, 0, 0) !important;
    }

    #acessbilidadeVlibras {
        top: 70vh !important;
        left: 4px;
        max-width: 300px !important;
        background-color: transparent !important;
        user-select: none;
    }

    .setas{
        user-select: none;
    }

    .botao-link {
        display: inline-block;
        font-weight: 400;
        color: #fff;
        background-color: #28a745;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
    }
    

/* FIM Footer */



